
.navbar-admin{
    background-color:#446CB3;
    width: 220px;
    height: 100vh;
    position: fixed;
    padding-top: 0%;
}
.navbar-admin .navbar-list{
    margin-top: 80px;
    margin-left: -20px;
}
.navbar-admin .navbar-list #logoutadmin{
    margin-top: 190px;
}
.navbar-admin .navbar-list li{
    display: block;
    margin-top: 25px;
}
.navbar-admin .navbar-list li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    margin-right: 30px;
    color: white;
    
}
.navbar-admin .navbar-list li a:hover{
    text-decoration: underline;
    text-decoration-color: white;
    text-decoration-thickness: 2px;

}
.navbar-admin .admin-nav-logo{
    padding: 20px auto;
}
.navbar-admin .admin-nav-logo img{
    margin-top: 25px;
    margin-left: 25%;
}
.admin-nav-logo h1{
    color: white;
}

