body{
    margin: 0%;
    padding: 0;
    background-image: url(https://images.pexels.com/photos/2908984/pexels-photo-2908984.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-position: center;
    background-size: cover;
    height: 80vh;
}
.selectLoginType{
    height: 500px;
    width: 850px;
    background-color: white;
    margin: 150px auto;
    text-align: center;
}
.selectLoginType h1{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 32px;
    padding-top: 45px;
}
.logs{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    padding-top: 65px;
}
.adminlog button{
    padding: 8px 12px;
    background-color: transparent;
    border: 2px solid orange;
    margin-top: 20px;
    transition: .9s;
}
.adminlog button a{
    text-decoration: none;
    font-size: 22px;
    color: black;
}
.adminlog button:hover{
    background-color: orange;
}
.adminlog button a:hover{
    color: white;
}
.userlog button{
    padding: 8px 12px;
    background-color: transparent;
    border: 2px solid green;
    margin-top: 20px;
    transition: .9s;
}
.userlog button a{
    text-decoration: none;
    font-size: 22px;
    color: black;
}
.userlog button:hover{
    background-color: green;
}
.userlog button a:hover{
    color: white;
}