
.navbar-user{
    
    background-color:#446CB3;
    width: 200px;
    height: 100vh;
    position: fixed;
    padding-top: 0%;
}
.navbar-user .navbar-list{
    margin-top: 100px;
    margin-left: -20px;
}
.navbar-user .navbar-list #logout{
    margin-top: 310px;
}
.navbar-user .navbar-list li{
    display: block;
    margin-top: 25px;
}
.navbar-user .navbar-list li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    margin-right: 30px;
    color: white;
    
}
.navbar-user .navbar-list li a:hover{
    text-decoration: underline;
    text-decoration-color: white;
    text-decoration-thickness: 2px;

}
.navbar-user .user-nav-logo{
    padding: 20px auto;
}
.navbar-user .user-nav-logo img{
    margin-top: 25px;
    margin-left: 25%;
}
.user-nav-logo h1{
    color: white;
    margin-left: 15px;
}

